{% extends "indexLayout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <a href="#"> <img class="first-slide"
                                              src="{{ asset('images/ET-SI-ON-MANGEAIT-LOCAL.png') }}" alt="First slide"></a>
                        </div>
                        <div class="item">
                            <a href="#"> <img class="second-slide"
                                              src="{{ asset('images/ET-SI-ON-MANGEAIT-LOCAL (1).png') }}"
                                              alt="Second slide"></a>
                        </div>
                        <div class="item active">
                            <a href="#"><img class="third-slide"
                                             src="{{ asset('images/ET-SI-ON MANGEAIT-LOCAL(2).png') }}"
                                             alt="Third slide"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- TEXT 1 : ACCUEIL -->

    <div class="about" id="about">
        <div class="container">
            <h2 class="heading">Qu'est-ce que Green Kilty ?</h2>
            <div class="col-md-7 aboutleft">
                <h3>Nous fournissons des fruits de saison et hors saison de qualité</h3>
                <h3>Nous cultivons les meilleurs aliments biologiques.</h3>
                <p>Des filières bio territorialisées se sont structurées pour répondre à la demande des retrouver des
                    produits sains de qualité. Dans la plupart des régions, les producteurs bio se sont organisés
                    collectivement en plateformes de distribution. Plus que de simples fournisseurs, ces structures sont
                    des acteurs du développement des territoires, portant la double ambition du "Bio & Local" dans le
                    cadre d’une économie sociale et solidaire.</p>
            </div>
            <div class="col-md-5 aboutright">
                <div class="sreen-gallery-cursual">
                    <div id="owl-demo" class="owl-carousel">
                        <div class="item-owl">
                            <div class="test-review">
                                <div class="img-agile">
                                    <img src="{{ asset('images/apple.png') }}" class="img-responsive" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- FIN // TEXT 1 : ACCUEIL  -->

    <!--team-->
    <div class="team" id="team">
        <div class="w3agile-spldishes">
            <h2 class="heading text-center">Nos commerçants vert</h2><br>

            <div class="spldishes-agileinfo">
                <div class="spldishes-grids">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="col-md-3 item g1" id="imghome">
                                    <img src="{{ asset('images/595fb58ea5a54.jpg') }}" class="img-responsive"
                                         title="Our Farmers" alt=""/>
                                    <div class="agile-dish-caption">
                                    </div>
                                    <h4>Jack Alisa</h4>
                                    <p>Agriculture</p>
                                </div>
                                <div class="col-md-3 item g1" id="imghome">
                                    <img src="{{ asset('images/denilo-vieira-xj7HV0FvSg0-unsplash.jpg') }}" width="50%"
                                         class="img-responsive" title="Our Farmers" alt=""/>
                                    <div class="agile-dish-caption">
                                    </div>
                                    <h4>Charley Lucas</h4>
                                    <p>Producteur de banane</p>
                                </div>
                                <div class="col-md-3 item g1" id="imghome">
                                    <img src="{{ asset('images/daisy-obryan-7JPGg8S-QD4-unsplash.jpg') }}"
                                         class="img-responsive" title="Our Farmers" alt=""/>
                                    <div class="agile-dish-caption">
                                    </div>
                                    <h4>Randy Donald</h4>
                                    <p>Eleveur</p>
                                </div>
                                <div class="col-md-3 item g1" id="imghome">
                                    <img src="{{ asset('images/rahul-pande-NAn5HlUwOiQ-unsplash.jpg') }}" width="50%"
                                         class="img-responsive" title="Our Farmers" alt=""/>
                                    <div class="agile-dish-caption">
                                    </div>
                                    <h4>Johnson Carle</h4>
                                    <p>Farmer</p>
                                </div>
                            </div> <!-- fin col-->
                        </div> <!-- fin row-->
                    </div> <!-- fin container-->
                    <br>
                </div> <!-- fin spldishes-grids-->
            </div><!-- fin spldishes-agileinfo-->
        </div><!-- fin w3agile-spldishes-->
    </div><!-- fin "team"-->
    <!--//team-->
{% endblock %}



