{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ asset('css/jstarbox.css') }}" type="text/css" media="screen" />
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
{% endblock %}


{% block head_javascripts %}

{% endblock %}


{% block body %}
<div class="header">
    <div class="container">
        <div class="logo">
            <h1 ><a href="{{ path('shop_home') }}">Green Kilty<span>Votre local shop !</span></a></h1>
        </div>
        {% include 'components/_top-header.html.twig' %}
        {% include 'components/_nav.html.twig' %}
    </div>
</div>

{% block slider '' %}
