{% extends "indexLayout2.html.twig" %}

{% block page_title %}
    Panier
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% block body %}
                    <div class="bg-light p-3">
                        <h1 class="text-center ">Votre panier </h1>
                    </div>
                    {% if items | length > 0 %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.article.title }}</td>
                                    <td>{{ item.article.price }}</td>
                                    <td>{{ item.article.quantity }}</td>
                                    <td>{{ item.article.price * item.quantity }}</td>
                                    <td>
                                        <a href="{{ path('panier_remove', {'id': item.article.id}) }}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Total :</td>
                                <td>{{ total }}</td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    {% else %}
                        <h1 class="text-center jumbotron">Surprise, c'est vide !</h1>
                    {% endif %}


                    </div>
                    </div>
                    </div>
                    <br>
                    <br>
                {% endblock %}

{% endblock %}

{% block slider %}{% endblock %}

{% block final_stylesheets %}{% endblock %}

{% block final_javascripts %}{% endblock %}
